.list-comments {
    height: 255px;
    overflow-y: auto; 
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px; 
  }
  
  textarea.form-control {
    max-height: 400px; 
    overflow-y: auto;  
    resize: none;      
  }
  
  
 