/* 
.custom-navigation-color {
    background-color: #083654;
      
} */

/* Navigation.css */
.custom-navigation-color {
    background-color: rgba(8, 54, 84, 0.7); /* Azul com transparência */
    backdrop-filter: blur(10px); /* Opcional: efeito de desfoque no fundo */
    transition: background-color 0.3s ease; /* Transição suave para mudanças de cor */
  }
  
  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #ffffff;
  }
  
  .navbar .nav-link:hover {
    color: #f1f1f1;
  }
  